---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li class={`inline-block ${size === "sm" ? "my-1" : "my-3 mx-1"}`}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    <span class="select-none">#</span><span>{tag}</span>
  </a>
</li>

<style>
  a {
    @apply hover:text-skin-muted relative decoration-dashed transition-all ease-in-out focus-visible:p-1;
  }
</style>
