---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li class={`inline-block ${size === "sm" ? "my-1" : "my-3 mx-1"}`}>
  <a
    href={`/tags/${name.toLowerCase()}`}
    transition:name={name.toLowerCase()}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    <span class="select-none">#</span><span>{name.toLowerCase()}</span>
  </a>
</li>

<style>
  a {
    @apply hover:text-skin-muted relative decoration-dashed transition-all ease-in-out focus-visible:p-1;
  }
</style>
